<!doctype html>
<html ng-app="TimeTracker">
	<head>

	<script>
		  window.Airbrake = [];
		  window.Airbrake.try = function(fn) { try { fn() } catch(er) { window.Airbrake.push(er); } };
		</script>
		<script defer src="https://ssljscdn.airbrake.io/airbrake-js-tracekit.js"
		  data-airbrake-project-id="104058"
		  data-airbrake-project-key="771b6f4190e02788ab99b80d1d5d05da"
		  data-airbrake-project-environment-name="local"></script>

		<link href="assets/CSS/jquery-ui.min.css" rel="stylesheet" type="text/css">
		<link href="assets/CSS/spectrum.css" rel="stylesheet" type="text/css">
		<link href="assets/CSS/styles.css" rel="stylesheet" type="text/css">
		<link href="assets/CSS/ngDialog.css" rel="stylesheet" type="text/css">


		<!--<script type="text/javascript" src="lib/jquery-1.11.0.min.js" type="text/javascript"></script>-->
		<script src="lib/jquery-1.9.1.min.js" type="text/javascript"></script>
		<script src="lib/jquery-ui.min.js" type="text/javascript"></script>
		<script src="lib/CSInterface-5.0.0.js" type="text/javascript"></script>
		<script src="lib/spectrum.js" type="text/javascript"></script>
		<script src="lib/sjcl.js" type="text/javascript"></script>

		<script src="js/utils.js" type="text/javascript"></script>
		<!--<script src="lib/Vulcan-5.0.0.js" type="text/javascript"></script> -->
		<script src="lib/cs_host_adapter-2.0.js" type="text/javascript"></script>
		<script src="lib/angular.min.js" type="text/javascript"></script>
		<script src="lib/angular-route.min.js" type="text/javascript"></script>
		<script src="lib/xml2json.js" type="text/javascript"></script>
		<script src="lib/oauth.js" type="text/javascript"></script>
		<script src="lib/sha1.js" type="text/javascript"></script>
		<script src="lib/ngDialog.js" type="text/javascript"></script>
		<script src="lib/angular-sanitize.min.js" type="text/javascript"></script>

		<script src="services/services.js" type="text/javascript"></script>
		<script type="text/javascript">loadJSX();</script>
		<script src="controller/controller.js" type="text/javascript"></script>
		<script src="controller/loginController.js" type="text/javascript"></script>
		<script src="controller/aboutController.js" type="text/javascript"></script>
		<script src="controller/projectController.js" type="text/javascript"></script>
		<script src="controller/newProjectController.js" type="text/javascript"></script>
		<script src="controller/editProjectController.js" type="text/javascript"></script>
		<script src="controller/logController.js" type="text/javascript"></script>
		<script src="controller/updateController.js" type="text/javascript"></script>
		<script src="controller/loadConfig.js" type="text/javascript"></script>
		<script src="controller/checkForFlashVersion.js" type="text/javascript"></script>
		<script src="controller/configureLDAPController.js" type="text/javascript"></script>
		<script src="controller/LDAPloginController.js" type="text/javascript"></script>
		<script src="controller/supportController.js" type="text/javascript"></script>
		<script src="controller/repairDBController.js" type="text/javascript"></script>
		<script src="controller/restoreTTController.js" type="text/javascript"></script>
		<script src="controller/freezeScreenController.js" type="text/javascript"></script>

		<script src="node/main4.js"></script>





		<script type="text/javascript">
			$(function() {
				$( document ).tooltip({
					track: true,
					show: {
						effect: "fade",
						delay: 750
					},
					content: function(callback) {
     				callback($(this).prop('title').replace(/\|/g, '<br />'));
  					}
				});

				var appVersion = new CSInterface().getHostEnvironment().appVersion;
				var head= document.getElementsByTagName('head')[0];
			    var script= document.createElement('script');
			    script.type= 'text/javascript';
				if(appVersion.split(".")[0] == "14" )
					script.src= 'lib/Vulcan-4.0.0.js';
			    else
					script.src= 'lib/Vulcan-5.0.0.js';
				head.appendChild(script);

			});
        </script>

	</head>
	<body ng-controller='viewCtrl' style="-webkit-user-select: none;">
		<div class="header">
			<div class="navContainer" ng-click='toggleFlyout()'>
				<div class="nav"></div>
			</div>
		</div>
		<div class="flyout" ng-show='showFlyout'>
			<div ng-hide='LoggedInItems' ng-show="FreezedItems">
				<div class="menu_item" ng-click="about()">About TimeTracker</div>
				<div class="menu_item" ng-click="restoreTT()">Preferences</div>
				<div class="menu_item" ng-click="feedback()">Feedback...</div>
			</div>

			<div ng-hide='LoggedInItems+FreezedItems'>
				<div class="menu_item" ng-click="configureLDAP()">Configure company login</div>
				<div class="menu_item" ng-click="about()">About TimeTracker</div>
				<div class="menu_item" ng-click="restoreTT()">Preferences</div>

				<div class="menu_item" ng-click="checkUpdate()">Check for updates...</div>
				<div class="menu_item" ng-click="feedback()">Feedback...</div>

<!-- 				<div class="menu_item" ng-click="support()">Support</div>
 -->			</div>

			<div ng-show='LoggedInItems'>
				<div class="menu_item" ng-show="canEdit" ng-click="create()">New Project</div>
				<div class="menu_item" ng-click="edit()">Edit Projects</div>
				<div class="menu_item" ng-click="asgnPrjFldr()">Assign Project to Folder</div>
				<div class="menu_item" ng-click="refreshProjects1()">Refresh Projects</div>
				<div class="menu_item" ng-click="openHomePage()">View Calendar</div>
				<div class="separator"></div>
				<div class="menu_item" ng-click="about()">About TimeTracker</div>

				<div class="menu_item" ng-click="checkUpdate()">Check for updates...</div>
				<div class="menu_item" ng-click="feedback()">Feedback...</div>
				<div class="menu_item" ng-click="restoreTT()">Preferences</div>

				<!-- <div class="menu_item" ng-click="support()">Support</div> -->
				<div class="separator"></div>
				<div class="menu_item" ng-click="logout()">Logout</div>
			</div>
		</div>

		<div class="loading-spinner" ng-show="loading" ></div>
		<div ng-view ng-style="opaqueStyle"></div>
		<div class="footer">POWERED BY CREATIVEWORX</div>
		<modal-dialog show="modalShown"><p>{{alert_message}}<p></modal-dialog>
	</body>
</html>
