<div id="about">
	<div class="appTitle">
		TimeTracker 1.0<!--{{app_version_no}}-->
	</div>
	<div style="padding: 10px; font-size: 9.5px;">
		<span class="link" ng-click='terms()'>Terms of service</span><br/>
		<span class="link" ng-click='privacy()'>Privacy Policy</span><br/><br/><br/>
	</div>
	<div style="font-size: 8.5px;">
		<span>Copyrights 2014 CreativeWorx Corp.</span><br/>
		<span>All rights reserved</span>
	</div><br/><br/><br/>
	<button style="margin: auto;" ng-click='return1()'>Return</button>
</div>