<div ng-click="showColorBox($event)">
	<div class="pheader2">
		<span><b>Select existing project to edit</b></span>
		<select ng-model='project' ng-change='changeProject(project)' ng-options='p.name for p in projects'>
		</select>
		<hr>
	</div>
	<div class="project">
		<div class="group">
			<label for="projectName">Project name:</label><br/>
			<input class="ptext" id="projectName" ng-model="name" />
		</div >
		<div class="group">
			<label for="jobId">Job ID:</label><br/>
			<input class="ptext" id="jobId" ng-model="project.jobid" />
		</div>
		<div class="group">
			<div class="colorDiv" style="float: left; width: 45px;">
				<span>Color:</span>
				<div class="colorBtn" ng-model="project.colorcode" ng-style="colorBtnStyle"></div>
				<div class="colorsPanel" ng-show="showColorPanel">
					<div class="colorPreview" ng-style="colorPreviewStyle"></div>
					<div class="colors">
						<div class="pointer" ng-repeat="color in colors" ng-mouseover="showPreview($index)" ng-click="selectColor($index)" ng-style="{'background-color':color.colorcode}"></div>
					</div>
				</div>
			</div>
			<div style="float: left; width: 160px;">
				<span>Budget (in hours):</span>
				<input class="budget" ng-model="project.budget" />
			</div>
		</div>
		<div class="stretch middle">
			<button class="darkBtn" style="width: 70px;" ng-click="cancel()">Cancel</button>&nbsp;
			<button class="darkBtn" style="width: 70px;" ng-click="save()">Save</button>
		</div>
		
		<div class="message" ng-show='message'>{{message}}</div>
	</div>
</div>