<div>
	<div class="pheader2">
		<span><b>Select existing project to edit</b></span>
		<select ng-model='project' ng-change='name=project.name' ng-options='p.name for p in projects'>
			<option value="">--Choose Project</option>
		</select>
		<hr>
	</div>
	<div class="project">
		<div class="group">
			<label for="projectName">Project name:</label><br/>
			<input class="ptext" id="projectName" ng-model="name" />
		</div >
		<div class="group">
			<label for="jobId">Job ID:</label><br/>
			<input class="ptext" id="jobId" ng-model="project.jobid" />
		</div>
		<div class="group">
			<div style="float: left; width: 45px;">
				<span>Color:</span>
				<input style="width: 25px;" type="color" ng-model='project.colorcode' />
			</div>
			<div style="float: left; width: 160px;">
				<span>Budget (in hours):</span>
				<input style="float: left; width: 166px;" ng-model="project.budget" />
			</div>
		</div>
		<br/>
		{{message}}
		<div class="stretch middle">
			<button ng-click="cancel()">Cancel</button>
			<button ng-click="save()">Save</button>
		</div>
	</div>
</div>

<div id="footer">POWERED BY CREATIVEWORX</div>