<div ng-click="showColorBox()">
	<div class="pheader2">
		<span><b>Select existing project to edit</b></span>
		<select ng-click="message=''" ng-model='project' ng-change='changeProject(project)' ng-options="p.name for p in projects">
		<!-- Filter in ng-options |filter:{edit:'!false'}-->
		</select>
		<hr>
	</div>
	<div class="project">
		<div class="group">
			<label for="projectName">Project name</label><br/>
			<input ng-click="message=''" class="ptext" id="editProject_projectName" ng-disabled="disabled" ng-model="name" />
		</div >

		<div class="aliasGroup">
			<div ng-show="disabled" class="aliasItem">
			<label for="orgNickName">Org alias</label><br/>
			<input class="aliasInput" ng-click="message=''"  id="editProject_orgNickName" ng-disabled="true" ng-model="project.alias.user" />
			</div>

			<div class="aliasItem">
			<label for="userNickName">My alias</label><br/>
			<input class="aliasInput" ng-click="message=''"  id="editProject_userNickName" ng-model="project.alias.user" ng-disabled="true"/>
			</div>
			

		</div >
		<div class="group" style="clear:both;padding-top:10px">
			<label for="jobId">Job ID</label><br/>
			<input ng-click="message=''" class="ptext" ng-disabled="disabled" id="editProject_jobId" ng-model="project.jobid" />
		</div>
		<div class="group">
			<div class="colorDiv" style="float: left; width: 45px;">
				<span>Color</span>
				<ui-colorpicker ng-show="showAllColors" ng-model="targetColor"></ui-colorpicker>
				
				<div class="colorBtn" ng-hide="showAllColors" ng-model="project.colorcode" ng-style="colorBtnStyle"></div>
				<div class="colorsPanel" ng-show="showColorPanel">
					<div class="colorPreview" ng-style="colorPreviewStyle"></div>
					<div class="colors">
						<div class="pointer" ng-repeat="color in colors" ng-mouseover="showPreview($index)" ng-click="selectColor($index)" ng-style="{'background-color':color.colorcode}"></div>
					</div>
				</div>
			</div>
			<div style="float: left; width: 73%; margin-left: 3px;">
				<span>Budget (in hours)</span>
				<input ng-click="message=''" class="budget" ng-disabled="disabled" id="editProject_budget" ng-model="project.budget" />
			</div>
		</div>
		<div class="stretch middle">
			<button class="darkBtn" style="width: 70px;" ng-click="cancel()">Cancel</button>&nbsp;
			<button class="darkBtn" style="width: 70px;" ng-click="save()">Save</button>
		</div>
		
		<div class="message" ng-show='message'>{{message}}</div>
	</div>
</div>