<div id="log">
	<div style="padding: 10px 0 0 3px;">Events:</div>
	<div class="eventsLog"><pre>{{logs}}</pre></div> 
	<div class="loggingBtns">
		<input type='checkbox'  ng-model='checked' ng-init="checked=true"> Event Logging</input>
		<button style="margin: auto; width: 65px;" class="lightBtn" ng-click='return1()'>Close</button>
		<div class="checkboxes">
			<input type='checkbox'  ng-model='checked' ng-init="checked=true"></input>
			<input type='checkbox'  ng-model='checked' ng-init="checked=true"></input>
			<input type='checkbox'  ng-model='checked' ng-init="checked=true"></input>
			<input type='checkbox'  ng-model='checked' ng-init="checked=true"></input>
		</div>
	</div>
</div>