<div id="log">
	<div style="padding: 10px 0 0 3px;">Events:</div>
	<div class="eventsLog" ng-bind-html-unsafe="logs"></div>
	<div class="loggingBtns">
		<input type='checkbox'  ng-model='checked' ng-init="checked=true"> Event Logging</input>
		<button ng-click='return1()'>Close</button>
		<div class="checkboxes">
			<input type='checkbox'  ng-model='checked' ng-init="checked=true"></input>
			<input type='checkbox'  ng-model='checked' ng-init="checked=true"></input>
			<input type='checkbox'  ng-model='checked' ng-init="checked=true"></input>
			<input type='checkbox'  ng-model='checked' ng-init="checked=true"></input>
		</div>
	</div>
</div>