<div id="content" ng-show='showLogin'>
	<div id="logo">
		<img src="./assets/images/creativeworx_logo.png">
	</div>
	<div class="message">{{message}}</div>
	<form name='loginUser' id="loginForm">
		<div>	
			<input ng-click="message=''"  class="text stretch" type='text' placeholder='Email' ng-model='user.email' />
			<input ng-click="message=''"  class="stretch text" type='password' placeholder='Password' ng-model='user.password' />
		</div>	
		<div class="stretch attr" style="font-size:10px">
			<div style="float: left; ">
				<input type='checkbox' ng-model='checked' ng-init="checked=true" > Keep me logged in</input>
			</div>
			<div style="float: right; ">
				<span class="link" ng-click='forgetLogin()'>Forgot Password?</span>
			</div>
		</div>
		<div class="stretch middle">
			<button style="margin: auto;" class="darkBtn" ng-click='login()'>Login</button>
		</div><br/>
		<div class="stretch middle" style="font-size:10px">
			<span style="margin: auto;">Need an account?</span>
		</div>
		<div class="stretch middle" style="font-size:10px">
			<span style="margin: auto;" class="link" ng-click='signup()'>Sign up now!</span>
		</div>
	</form>
	<modal-dialog show='modalShown'><p>{{alert_message}}<p></modal-dialog>
</div>