<div ng-click="showColorBox()">
	<div class="pheader">
		<span><b>Create New Project</b></span>
		<hr>
	</div>
	<div class="project">
		<div class="group">
			<label for="projectName">Project name</label><br/>
			<input ng-click="message=''" class="ptext" id="newProject_projectName" ng-model="project.name"  tabindex="1"/>
		</div >

		<div class="group">
			<label for="userNickName">My alias</label><br/>
			<input ng-click="message=''" class="ptext" id="newProject_userNickName" ng-model="project.userNickName" ng-disabled='false' tabindex="2"/>
		</div >

		<!-- <div>{{project.name}}</div> -->
		<div class="group">
			<label for="jobId">Job ID</label><br/>
			<input ng-click="message=''" class="ptext" id="newProject_jobId" ng-model="project.jobId"tabindex="3" />
		</div>
		<div class="group">
			<div style="float: left; width: 45px;">
				<span>Color</span>
				<ui-colorpicker ng-model="targetColor" id="userSelectableColorPanel" ng-show="showAllColors"></ui-colorpicker>
				
				
				<div class="colorBtn" ng-hide="showAllColors" id="preselectedColorPanel" ng-model="project.colorcode" ng-style="colorBtnStyle"tabindex="4"ng-keydown="pressEnter($event)"
				"></div>
				<div class="colorsPanel"  style="top: 110px;" ng-show="showColorPanel">
					<div class="colorPreview" ng-style="colorPreviewStyle"></div>
					<div class="colors">
						
						<!--<div id="nohover" ng-style="{'background-color':'#888888'}"></div>
					-->

						<div class="pointer" ng-repeat="color in colors" ng-mouseover="showPreview($index)" ng-click="selectColor($index)" ng-style="{'background-color':color.colorcode}"></div>
					</div>
				</div>
			</div>
			<div style="float: left; width: 73%; margin-left: 3px;">
				<span>Budget (in hours)</span>
				<input ng-click="message=''" class="budget" id="newProject_budget" ng-model="project.budgetHrs" tabindex="5"  />
			</div>
		</div>
		<div class="stretch middle">
			<button class="darkBtn" style="width: 70px;" ng-click="cancel()" tabindex="6">Cancel</button>&nbsp;
			<button class="darkBtn" style="width: 70px;" ng-click="create()" tabindex="7">Save</button>
		</div>
		<div class="message" ng-show='message'>{{message}}</div>
	</div>
</div>
