<div id="contents">
	<div class="pheader">
		<div style="float: left; ">
			<span>Welcome back, {{firstname}}</span>
		</div>
		<div style="float: right; ">
			<img src="./assets/images/launch_icon.png">
		</div>
	</div>
	
	<div style="height: 30px;">
		<span class="link" ng-click="create()">Create</span>
		<span class="link" ng-click="edit()">Edit</span>
		<span class="link" ng-click="asgnPrjFldr()">Assign</span>
	</div>
	{{res}}
	<ul class='projects'>
		 <li ng-repeat='project in projects'>
			<div ng-click='processProject(project.pid, $index)' ng-style='projectNo[$index].style'>
			{{project.name}}
			{{projectNo[$index].message}}	
			</div>
		</li> 
		
		{{message}}
	</ul>
</div>
<div id="footer">POWERED BY CREATIVEWORX</div>
