<div id="contents">
	<div class="pheader">
		<div style="float: left; ">
			<span>Welcome back, {{firstname}}</span>
		</div>
		<div style="float: right; ">
			<img class="pointer" ng-click="webpage()" src="./assets/images/launch_icon.png">
		</div>
	</div>
	
	<div style="height: 30px;">
		<span class="link" ng-click="create()">Crt</span>
		<span class="link" ng-click="edit()">Edt</span>
		<span class="link" ng-click="asgnPrjFldr()">Asgn</span>
		<span class="link" ng-click="feedback()">Contact</span>
		<span class="link" ng-click="about()">Abt</span>
		<span class="link" ng-click="logout()">Lgt</span>
		
	</div>
	<ul class='projects'>
		 <li ng-repeat='project in projects' ng-click='processProjectClick(project.pid, $index)' ng-style='projectProperties[$index].style'  >
			<div>{{project.name}}<span class="progress">{{projectProperties[$index].message}}<span>
			</div>
		</li>
	</ul>
</div>
