<div id="contents">
	<div class="pheader" style="float: left;">
		<div style="float: left; ">
			<div style="float: left">Welcome back, </div>
			<div class ='fName'>
			{{firstname}}
			</div>
		</div>
		<!-- <div style="position: absolute; right: 6px;">
			<img class="pointer" ng-click="openHomePage()" src="./assets/images/launch_icon.png">
		</div> -->
	</div>
	<div class="projectsContainer">
		<ul class='projects'>
			 <li  ng-repeat='project in projects'  ng-click='processProjectClick(project._id, $index)' ng-style='projectProperties[$index].style' class='wrapper' title='{{projectToolTipInfo[$index]}}'>
				<div>
					<div class="pName">{{project.displayName}}</div>
					<span class="progress">{{projectProperties[$index].message}}</span>
				</div>
				<!-- <div class='tooltip'>
					<div title="projectToolTipInfo[$index]"></div>
				</div> -->
			</li>
		</ul>
		<div ng-show="showNoProjectsMessage" class="pad">{{noProjectsMessage}}</div>
	</div>
	<modal-dialog show='modalShown'><p>{{alert_message}}</p></modal-dialog>
</div>
