/* Fonts */
@font-face
{
	src:url("./assets/Fonts/DroidSans.ttf");
	font-family: cwFontDroidSans;
}

@font-face
{
	src:url("./assets/Fonts/DroidSans-Bold.ttf");
	font-family: cwFontDroidSansBold;
}
/*	*/

body{
    font-family: "Verdana";
	font-size:11px;
	background-color: #D6D6D6;
	margin: 0;
	padding: 0;
}

button,select,input{
	font-family: "Verdana";
	font-size:9px;
}

select{
	width: 100%;
}

.pointer{
	cursor: pointer;
}
/***/

#content{
	width: 96%;
	padding: 4px;
}

#logo img{
	display:block;
    margin:auto;
}

#logo{
	width: 100%;
}

.stretch{
	margin: 0 auto;
	width: 100%;
}

.attr{
	height: 35px;
	padding-top: 5px;
}

.text{
	font-family: "Verdana";
	font-size:11px;
	width: 98%;
	padding: 2px;
}

.link{
	cursor:pointer;
	text-decoration:underline;
}

.middle{
	text-align: center;
}

.message{
	color: red;
	text-align: center;
	height: 20px;
}

input[type="checkbox"]{
	margin: 0;
}


/*******/

.pheader{
	height: 30px;
	padding: 5px;
	line-height: 3;
	color: #666;
}

.pheader2{
	height: 60px;
	padding: 5px;
	line-height: 3;
	color: #666;
}


ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
}

li{
	padding: 5px;
	/*border-bottom-style: solid;
	border-width: 1px;
	border-bottom-color: #555;
	color: gray;
	*/
	border: 1px solid #555;
	cursor: pointer;
	/*text-transform: uppercase;*/
}

/********/

.project{
	padding: 10px;
	padding-top: 20px;
}

.group{
	padding-bottom: 7px;
	height: 40px;
}

.ptext{
	font-family: "Verdana";
	font-size:11px;
	width: 96%;
	padding: 2px;
}

.progress{
	position: absolute;
	right: 3%;
	
}

/******/
/*
.selected{
	border: 1px solid red;
	background: rgba(255, 0, 0, 0.14);
}
.deselected{
	
}
*/
/*******/
.appTitle{
	font-size: 13.5px;
	padding-bottom: 26px;
}
#about{
	text-align: center;
	padding: 24px;
	color: #555;

}
/*******/
#footer{
	position: fixed;
	bottom: 0px;
	color: #555;
	width: 100%;
	text-align: left;
	margin: 0;
	border-top: 1px;
	padding: 2px 0 2px 2px;
	background-color: #b6b6b6;
	font-size: 10px;
}

/**********/